<app-nav-bar></app-nav-bar>
  <div class="container-fluid mt-4">
   <h3>What are you here to do ?</h3>
    <owl-carousel-o [options]="customOptions" (dragging)="startDragging($event.dragging)">
      <ng-template carouselSlide>
          <div class="slide">
            <div class="card shadow zoom" style="width: 18rem;">
              <div class="card-body text-center">
                <img src="https://via.placeholder.com/150"/>
                <h5 class="card-title mt-2">Mobile Internet</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              </div>
              <div class="card-footer">
             
              </div>
            </div>
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="slide">
            <div class="card shadow zoom" style="width: 18rem;">
              <div class="card-body text-center">
                <img src="https://via.placeholder.com/150"/>
                <h5 class="card-title mt-2">Home Internet</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              </div>
              <div class="card-footer">
                
              </div>
            </div>
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="slide">
            <div class="card shadow zoom " style="width: 18rem;">
              <div class="card-body text-center">
                <img src="https://via.placeholder.com/150"/>
                <h5 class="card-title mt-2">Get a device</h5>
                <h6 class="card-subtitle mb-2  mt-2 text-muted">START HERE <i class="fas fa-chevron-right"></i> </h6>
              </div>
              <div class="card-footer">
                
              </div>
            </div>
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="slide">
            <div class="card shadow zoom" style="width: 18rem;">
              <div class="card-body text-center">
                <img src="https://via.placeholder.com/150"/>
                <h5 class="card-title mt-2">Add a phone-line</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              </div>
              <div class="card-footer">
               
              </div>
            </div>
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="slide">
            <div class="card shadow zoom" style="width: 18rem;">
              <div class="card-body text-center">
                <img src="https://via.placeholder.com/150"/>
                <h5 class="card-title mt-2">Upgrade</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              </div>
              <div class="card-footer">
               
              </div>
            </div>
          </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <div class="card shadow zoom" style="width: 18rem;">
            <div class="card-body text-center ">
              <img src="https://via.placeholder.com/150"/>
              <h5 class="card-title mt-2">Card title</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            </div>
            <div class="card-footer">
              
            </div>
          </div>
        </div>
    </ng-template>
  </owl-carousel-o>
  </div>

  