.arrow {
    height: 40px;
    width: 40px;
  }
  .zoom:hover {
    margin-top: 80px !important;
  color: #fff;
  box-sizing: border-box;
  height: 556px;
  width: 456px;
  border: 0px solid rgba(150,150,150,0.08) !important;
  border-radius: 0.24rem !important;
  background: linear-gradient(180deg, #373737 0%, #191919 100%); 
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
  }

 .card-footer{
    padding: 1px !important;
    /* border-radius: 16px; */
    background-color: #FFC000;
    box-shadow: 0 16px 40px 0 rgba(0,0,0,0.32);
  }